@charset "UTF-8";
:root {
    --sans-serif: "Segoe UI", "Helvetica Neue", "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary: #293150;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline:0;
    font-family: var(--sans-serif);
}
.body{
    height: 100vh;
}
.logged-in{
    height: 100%;
    display: flex;
}
.right{
    width: 100%;
}
input[type=text], input[type=password]{
    padding: 5px 15px;
}
input[type=submit], button{
    padding: 5px 15px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: #ddd;
}