@charset "UTF-8";
:root {
    --sans-serif: "Segoe UI", "Helvetica Neue", "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary: #293150;
    --primary-light: #79b;
}
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline:0;
    font-family: var(--sans-serif);
}
.body{
    height: 100vh;
    overflow: hidden;
}
.logged-in{
    height: 100%;
    display: flex;
}
.right{
    height: 100%;
    width: calc(100% - 200px);
    overflow: hidden;
}
input[type=text], input[type=number], input[type=password], select{
    padding: 5px 15px;
}
input[type=date]{
    padding: 3px 15px;
}
input[type=submit], button{
    padding: 5px 15px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: #ddd;
}
input[type=submit]:active, button:active{
    color: white;
}
.contextmenu{
    position: absolute;
    z-index: 3;
    width: 150px;
    box-shadow: 2px 2px 5px;
    border: 1px solid #ddd5;
    background-color: white;
}
.contextmenu > div{
    padding: 3px 10px;
}
.contextmenu > div:hover{
    background-color: cadetblue;
}
.field *{
    display: block;
    width: 100%;
}
.field{
    margin: 5px 0;
}
.logs{
    color: #D00;
}
table{
  width: calc(100% - 15px);
  text-align: left;
  border-collapse: collapse;
  margin: 10px 0;
}
.table{
  height: calc(100vh - 110px);
  max-width: 100%;
  overflow: auto;
  margin-top: 10px;
}
tfoot{
    bottom: -1px;
}
thead{
    top: 0px;
}
thead, tfoot{
    position: sticky;
}
thead th, tfoot tr{
    position: sticky;
    background-color: var(--background-color);
}
th{
    padding: 5px;
    text-align: center;
}
tr th{
    background-color: #eee;
    border-bottom: 1px solid #aaa;
    text-align: center;
    white-space: nowrap;
    text-overflow:ellipsis;
}
tr:hover{
    background-color: #f0f0f0;
}
td{
    padding: 0 5px;
    overflow: hidden;
    height: 30px;
}
table .right{
    text-align: right!important;
}
table .left{
    text-align: left!important;
}
table button{
    font-size: .9em;
    margin: 2px 5px 2px 0;
    padding: 0 10px;
}
.sv{
    position: relative;
    display: flex;
    align-items: center;
}
.sv input{
    border-radius: 20px;
    padding-left: 30px;
}
.sv svg{
    position: absolute;
    left: 10px;
}
.popup{
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow-y: hidden;
    z-index: 3;
}
.popup.active{
    visibility: visible;
}
.popup-body{
    position: absolute;
    border-radius: 0;
    top:30%;
    left:50%;
    min-width: 250px;
    max-width: 90%;
    max-height: 100%;
    overflow: auto;
    transform: translate(-50%, -30%);
    background-color: rgba(255,255,255,0.7);
    opacity: 1;
    padding: 5px;
    border: 1px solid white;
}
.popup .close{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: red;
    border: none;
    font-weight: 700;
}
.popup form{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.popup form div{
  margin: 5px;
}
.popup .buttons{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}
.popup .buttons *{
    margin-left: 10px;
}
@media only screen and (max-width: 510px) {
    #menus{
        position: absolute;
        z-index: 2;
    }
    .right{
        width: 100%;
    }
    .fa_bars{
        display: none;
    }
    .fa_times{
        display: inherit!important;
    }
}
@media print{
    *{
        overflow-x: hidden;
    }
    .nonprintable{
        display: none;
    }
    .printable{
        display: inherit;
    }
    .popup-body{
        display: default;
        position: absolute;
        border-radius: 0;
        top: 0!important;
        left: 0!important;
        min-width: 250px;
        max-width: 100%;
        max-height: 100%;
        transform: inherit;
    }
    .popup{
        background-color: white;
        width: 100%;
    }
}